@use "../../styles/variables" as *;
#WatchDemo {
  padding: 0;
  background-image: url("../../assets/bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlayLayer {
    background-color: rgba(33, 150, 243, 0.5);
    padding: 100px 0;
    .videoWatch {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      video {
        width: 100%;
        border-radius: 20px;
        opacity: 0.9;
      }
    }
  }
}

@media (max-width: 991px) {
  #WatchDemo {
    .overlayLayer {
      padding: 50px 0;
      .videoWatch {
        margin-top: 50px;
        video {
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #WatchDemo {
    .overlayLayer {
      padding: 30px 0;
      .videoWatch {
        video {
          width: 80%;
        }
      }
    }
  }
}
