$materialBlue500: #2196f3;
$headingFontFamily: "Raleway", sans-serif;
$mainFontFamily: "Open Sans", sans-serif;
$emeraldGreen: #2ecc71;
$blackColor: #222;
$grayColor: #999;
$whiteColor: #fff;
$mainBackgroundColor: #fff;
$secondaryBackgroundColor: #999;
$grayBackgroundColor: #f8f8f8;

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
