@use "../../styles/variables" as *;
#Screenshotss {
  .ScreenshotssImages {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
      width: 23%;
    }
  }
}
@media (max-width: 991px) {
  #Screenshotss {
    .ScreenshotssImages {
      flex-wrap: wrap;
      img {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }
}
