@use "../../styles/variables" as *;
#Download {
  .appleAndroid {
    display: flex;
    justify-content: center;
    img {
      margin-left: 20px;
    }
  }
  .phonesLayers {
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }
}
