@use "./styles/_variables.scss" as *;

// Global Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $mainFontFamily;
  background-color: $mainBackgroundColor;
  color: $blackColor;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

// Elements Styles
.container {
  width: 70%;
  margin: 0 auto;
}
section {
  padding: 100px 0;
}
section:nth-child(even) {
  background-color: $grayBackgroundColor;
}
section:nth-child(9) {
  padding-bottom: 0;

}

.headLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 36px;
  }
  p {
    color: $grayColor;
    font-size: 16px;
  }
}
